.cardsList {
  border: 2px solid black;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 50px 30px;
}

.card {
  border: 1px solid blue;
  display: flex;
  flex: 0 0 25%;
  flex-direction: column;
  margin-left: 30px;
  padding: 10px 10px 20px;

  &:first-child { margin-left: 0; }

  .name {
    text-align: center;
  }
}

.selectToggleContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

// TODO - should probably be moved to own component!
.selectToggle {
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
}

.selectToggle:hover,
.selectToggleSelected {
  &:before {
    content: '✔';
    flex: 1;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
  }
}

.selectToggleSelected {
  composes: selectToggle;

  &:before,
  &:hover:before {
    color: #000;
  }
}

.selectToggleNotSelected {
  composes: selectToggle;

  &:hover:before { color: #BBB; }
}

.selectToggleSelectedLocked {
  composes: selectToggleSelected;

  border: none;
  cursor: default;

  &:before,
  &:hover:before {
    color: green;
  }
}
