<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card_association.name %>
</p>

<%= link_to 'Edit', edit_card_association_path(@card_association) %> |
<%= link_to 'Back', card_associations_path %>
