<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spend_category.name %>
</p>

<%= link_to 'Edit', edit_spend_category_path(@spend_category) %> |
<%= link_to 'Back', spend_categories_path %>
